<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Does the website seem easy to navigate</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].improvement> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>What element of the site is the most attractive?</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].attractiveElements %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Which elements of the site could be updated?</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].comment %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>